@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body{
    background-color: rgb(190, 198, 182);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(99, 6, 104);
}
h1#principal{
    text-align: center;
    color: rgb(203, 38, 212);
    background-color: rgb(202, 160, 194);
}
h2{
    color: rgb(70, 5, 67);
}
.basico{
    color: darkgreen;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}